body{
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;bottom: 0;left: 0;right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    width: 30%;
    height: 90%;
    padding: 20px 50px;
    background-color: rgb(66, 83, 99);
    border-radius: 80px;
    display: flex;
    flex-direction: column;
}

.display-container{
    margin: 60px 0 60px 0;
}

#display{
    font-size: 70px;
    position: relative;
    text-align: right;
    padding: 0 30px;
    right: 0;
    margin-left: 0px;
    width: 88%;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-row-gap: 30px;
    grid-column-gap: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 105%;
    height: auto;
}

.button{
    margin-right: 30px;
    padding: 0;
    height: auto;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    width: 17%;
    font-size: 70px;
    cursor: pointer;
}

#button-equalTo {
    background-color: darkorange;
}

#button-plus {
    background-color: green;
}

#button-clear {
    color: white;
    background-color: red;
}

@media screen and (max-width: 395px){
    .button {
    }

    .main-container{
        width: 85%;
        height: 80%;
        padding: 20px 0;
        flex-direction: column;
    }

    .buttons-container{
        grid-row-gap: 10px;
        grid-column-gap: 0px;
        width: 100%;
        padding: 0px 15px;
    }

    #display{
        font-size: 60px;
        text-align: right;
        padding: 0 30px;
        margin-left: 30px;
        width: 64%;
    }

    .display-container{
        margin: 60px 0 60px 0;
    }

    .button{
        margin-right: 30px;
        padding: 0;
        height: auto;
        text-align: center;
        border-radius: 10px;
        width: 15%;
        font-size: 50px;
        cursor: pointer;
    }
}
